:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --portfolio-border-color: #EEEEEE;
  --header-border-color: #ECECEC;
}

/* позыцыонирование */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 94px;
  padding-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* теги */
body {
  font-family: Roboto, sans-serif;
  margin: 0;

  color: var(--primary-text-color);
}

header {
  border: 1px solid;

  border-color: var(--header-border-color);
  background-color: var(--primary-white-color);
}

footer {
  background-color: var(--footer-background-color);
}

main {
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* утилиты */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flexbox {
  display: flex;
}

.flexbox.aling-items {
  align-items: center;
}

.button {
  border: 1px solid transparent;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* шапка */

.site-nav-list .item {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.site-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway, sans-serif;
  margin-right: 93px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primary-white-color);
}

.site-nav-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.address .item + .item {
  margin-left: 50px;
}

.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-style: normal;

  color: var(--primary-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* герой */

.hero {
  background-image: url(../images/hero.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.hero-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}

.hero-content {
  max-width: 696px;
  align-items: center;

  }

.hero-button {
      display: block;
  margin-top: 30px;
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;

  color: var(--primary-white-color);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

/* преимущеста */

.hidden-title {
  font-size: 0;
}
.advantages-list {
  padding-left: 0;
}
.advantages-list .item {
  width: calc((100% - 30px * 3) / 4);
  flex-wrap: wrap;
  margin-right: 30px;
}
.advantages-list .item:nth-child(4n) {
  margin-right: 0;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.advantages-text {
  margin-top: 10px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* робота */

.work-list .item {
  width: calc((100% - 30px * 2) / 3);
  flex-wrap: wrap;
  margin-right: 30px;
}
.work-list .item:nth-child(3n) {
  margin-right: 0;
}

/* команда */

.team {
  background-color: var(--team-background-color);
}

.team-list .item {
  width: calc((100% - 30px * 3) / 4);
  flex-wrap: wrap;
  margin-right: 30px;
  padding-bottom: 30px;
}
.team-list .item:nth-child(4n) {
  margin-right: 0;
}

.employee-name {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.profession-name {
  margin-top: 10px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* портфолио */

.filter-list {
  justify-content: center;
}
.filter-list .item + .item {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--team-background-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* портфолио */

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  
  
  
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .border {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding: 20px 24px;

  border-color: var(--portfolio-border-color);
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-text {
  margin-top: 4px;
  margin-bottom: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* футер */

.address-text {
  margin-top: 20px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;

  color: var(--primary-white-color);
}

.footer-address .item:not(:first-child) {
  margin-top: 9px;
}
